* {
  box-sizing: border-box;
}
html {
  letter-spacing: 0.1em;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
a {
  color: $light-color;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.15;
}
p {
  color: $text-color;
  letter-spacing: 1px;
  line-height: 1.2;
}
.grid {
  display: grid;
}
.container {
  margin: 0 auto;
  padding: 0 $gutter*2;
  max-width: 1200px;
}
.section {
  padding: 100px 0;
  h2 {
    margin: 0 0 50px;
    color: $base-color;
    font-size: 2.5rem;
    font-family: "Roboto Slab", serif;
    line-height: 1.2em;
  }
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  display: inline-block;
  margin: 0 $gutter;
  padding: 17px 45px;
  min-width: 250px;
  height: 60px;
  border: 2px solid $base-color;
  background-color: rgba(45, 54, 81, 0.8);
  color: $light-color;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 1.125rem;
  transition: background-color 0.5s, border-color 0.5s;
  &:hover, &:focus {
    background-color: $accent-color;
  }
}




