.header {
  position: relative;
  min-height: 100vh;
  background-color: $base-color;
  background-position: center;
  background-size: cover;
  &-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    grid-template-rows: minmax(max-content, 15%) 1fr;
  }
  &-navbar {
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    grid-template-columns: auto 1fr;  
    &-logo {
      text-transform: uppercase;
      a {
        display: block;
        letter-spacing: 0.5rem;
      }
      &--modifier {
        display: inline-block;
        padding: 15px;
        padding-right: 10px;
        border: 2px solid #d53d27;
      }
    }
    &-menu {
      &__list {
        justify-content: end;
        margin: 0 -20px 0 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        grid-template-columns: repeat(auto-fit, minmax(max-content, 0%)); 
      }
      &__item {
        a {
          display: block;
          padding: 20px;
          transition: color 0.5s;
          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
  &-content {
    z-index: 1;
    align-content: center;
    justify-content: center;
    color: $light-color;
    text-align: center;
    &-title {
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 3.75rem;
      font-family: 'Roboto Slab', serif;
    }
    &-buttons {
      margin-bottom: 100px;
      .button {
        border-color: $light-color;
        background-color: rgba(255, 255, 255, 0.1);
        &:hover {
          background-color: $accent-color;
        }
      }
    }
  }
  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $base-color;
    content: '';
    opacity: 0.8;
  }
}